---
const { title, subtitle, highlight = false } = Astro.props;
---

<div class={`flex`}>
  <div class="education__time w-6 shrink-0 flex flex-col items-center">
    <span
      class={`block rounded-full shrink-0 ${
        highlight
          ? "w-6 h-6 bg-primary ring-4 ring-primary/30"
          : "w-4 h-4 bg-primary"
      }`}></span>
    <span class="bg-primary education__line block h-full w-[2px]"></span>
  </div>
  <div class="experience__data bd-grid px-5">
    <h3 class={`mb-1 ${highlight ? "font-bold text-xl" : "font-semibold"}`}>
      {title}
    </h3>
    <span class="font-light text-sm">{subtitle}</span>
    <p class="my-2 text-justify">
      <slot />
    </p>
  </div>
</div>
