---
import BaseLayout from "../layouts/BaseLayout.astro";
import TimeLineElement from "../components/cv/TimeLine.astro";
---

<BaseLayout title="Max van Schoonderwoerd | CV" sideBarActiveItemID="cv">
  <div class="p-6 pt-10 max-w-[900px]">
    <div class="mb-5">
      <div class="text-3xl w-full font-bold">Profiel</div>
    </div>

    <div class="mb-10 text-justify">
      Hey!, ik ben Max van Schoonderwoerd. Afstudeerstudent aan de Hogeschool
      Rotterdam bij de opleiding Creative Media and Gaming Technologies. Hier
      heb ik afgelopen jaren mezelf ontwikkeld tot zowel webdeveloper als UX/UI
      designer. Mijn passie ligt in het combineren van technologie en
      creativiteit om digitale oplossingen te maken.
    </div>

    <div class="mb-5">
      <div class="text-3xl w-full font-bold">Educatie</div>
    </div>

    <div class="time-line-container grid gap-4 mb-10">
      <TimeLineElement
        title="Afstudeerstage Elephant/InDordrecht"
        subtitle="Vanaf februari 2025 tot heden bij Elephant"
      />
      <TimeLineElement
        title="Minor Interface & User Experience Design"
        subtitle="vanaf september 2024 tot februari 2025, Hogeschool Rotterdam, Rotterdam"
      />
      <TimeLineElement
        title="Stage fullstack webdevelopment"
        subtitle="Vanaf september 2023 tot februari 2024, ROX, Rotterdam"
      />
      <TimeLineElement
        title="HBO Creative media and game technologies"
        subtitle="Vanaf september 2020 tot juli 2025, Hogeschool Rotterdam, Rotterdam"
      />
      <TimeLineElement
        title="HAVO middelbare school"
        subtitle="2014 tot 2019, Insula college, Dordrecht"
      />
    </div>

    <div class="mb-5">
      <div class="text-3xl w-full font-bold">Werkervaringen</div>
    </div>

    <div class="time-line-container mb-10">
      <TimeLineElement
        title="Afstudeerstage Elephant/InDordrecht"
        subtitle="Vanaf februari 2025 tot heden bij Elephant"
      />
      <TimeLineElement
        title="Huis aan huis ICT hulp"
        subtitle="Vanaf februari 2024 tot februari 2025 bij Student aan Huis"
      />
      <TimeLineElement
        title="Game tester/youth advisor"
        subtitle="Vanaf september 2023 tot februari 2024 voor Radboud Universiteit"
      />
      <TimeLineElement
        title="Stage fullstack webdevelopment"
        subtitle="Vanaf september 2023 tot februari 2024, ROX, Rotterdam"
      />

      <!-- legacy ervaringen
      <TimeLineElement
        title="Bouwmarkt medewerker"
        subtitle="Vanaf juli 2021 tot mei 2023 bij Karwei Dordrecht"
      />
      <TimeLineElement
        title="(Hulp)kok"
        subtitle="Vanaf september 2019 tot februari 2021 bij Bastion hotel Dordrecht"
      />
      <TimeLineElement
        title="Vulploeg medewerker"
        subtitle="mei	2018	tot oktober	2018 bij Plus Dordrecht"
      /> -->
    </div>
    <div class="mb-5">
      <div class="text-3xl w-full font-bold">Vaardigheden</div>
    </div>

    <!-- front-end -->
    <div class="flex space-x-10">
      <div class="flex flex-col">
        <div class="text-xl font-semibold mb-3">Front-end</div>
        <ul class="list-disc md:row-5 row-2 mx-4">
          <li>React/React native</li>
          <li>Vue</li>
          <li>Javascript/Typescript</li>
          <li>HTML</li>
          <li>CSS/SCSS</li>
          <li>Tailwind CSS</li>
        </ul>
      </div>

      <!-- back-end -->
      <div class="flex flex-col">
        <div class="text-xl font-semibold mb-3">Back-end</div>
        <ul class="list-disc md:row-5 row-2 mx-4">
          <li>PHP</li>
          <li>Laravel</li>
          <li>Wordpress</li>
          <li>Node.js</li>
          <li>MongoDB</li>
          <li>MySQL</li>
          <li>OpenAI (GPT)</li>
        </ul>
      </div>

      <!-- Ontwerpen -->
      <div class="flex flex-col">
        <div class="text-xl font-semibold mb-3">Design</div>
        <ul class="list-disc md:row-5 row-2 mx-4">
          <li>UX/UI Design</li>
          <li>Figma</li>
          <li>Prototyping</li>
          <li>User testing</li>
          <li>User research</li>
          <li>Design sprints</li>
        </ul>
      </div>

      <!-- Overig -->
      <div class="flex flex-col">
        <div class="text-xl font-semibold mb-3">Overig</div>
        <ul class="list-disc md:row-5 row-2 mx-4">
          <li>Vloeient in Nederlands & Engels</li>
          <li>Geven van feedback</li>
          <li>Agile/scrum workflow</li>
          <li>GIT/GitHub</li>
          <li>ICT support</li>
          <li>Les geven ICT</li>
          <li>Windows/MacOS</li>
          <li>Ios/Android</li>
          <li>Music production</li>
          <li>Sound design</li>
        </ul>
      </div>
    </div>
  </div>
</BaseLayout>
