---
import BaseLayout from "../layouts/BaseLayout.astro";
import HorizontalCard from "../components/HorizontalCard.astro";
import { getCollection } from "astro:content";

const posts = (await getCollection("blog")).sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf());

const last_posts = posts.slice(0, 3);
---

<BaseLayout sideBarActiveItemID="home">
  <div class="pb-12 mt-5">
    <div class="text-xl py-1">Hey there 👋</div>
    <div class="text-5xl font-bold">Ik ben Max van Schoonderwoerd</div>
    <div class="text-3xl py-3 font-bold">Student Creative Media and Gaming Technologies aan de Hogeschool Rotterdam</div>
    <div class="py-2">
      <text class="text-lg">Programmeur en ontwerper van creatieve oplossingen</text>
    </div>
    <div class="mt-8">
      <a href="mailto::maxvanschoonderwoerd@gmail.com" target="_blank" class="btn btn-outline ml-5">Laten we samenwerken</a>
    </div>
  </div>

  <div>
    <div class="text-3xl w-full font-bold mb-2">Mijn projecten {"</>"}</div>
  </div>

  <HorizontalCard title="GewoonLezen" img="/GewoonLezen.webp" desc="Verbeter je taal met plezier: Oefenen lezen en uitspraak!" url="https://cmgt.hr.nl/projecten/gewoonlezen" badge="NEW" />
  <div class="divider my-0"></div>
  <HorizontalCard title="Website Popkoor Singing Beat" img="/popkoor.webp" desc="Een platform voor alle leden van het popkoor." url="https://cmgt.hr.nl/projecten/oefensysteem-popkoor-team-9" />
  <div class="divider my-0"></div>
  <HorizontalCard title="Demo Project 3" img="/post_img.webp" desc="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua." url="#" />

  <div class="mt-8">
    <a href="/projects" class="btn btn-neutral ml-5">Meer</a>
  </div>
  <!-- <div>
    <div class="text-3xl w-full font-bold mb-5 mt-10">Latest from blog</div>
  </div>

  {
    last_posts.map((post) => (
      <>
        <HorizontalCard title={post.data.title} img={post.data.heroImage} desc={post.data.description} url={"/blog/" + post.slug} target="_self" badge={post.data.badge} />
        <div class="divider my-0" />
      </>
    ))
  } -->
</BaseLayout>
