---
import SideBarFooter from "./SideBarFooter.astro";
import SideBarMenu from "./SideBarMenu.astro";
import {
  getLangFromUrl,
  useTranslations,
  localizePath,
  getAlternatePath,
} from "../i18n/utils";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
const otherLang = lang === "en" ? "nl" : "en";
const otherLanguagePath = getAlternatePath(Astro.url, otherLang);
const { sideBarActiveItemID } = Astro.props;
---

<div class="drawer-side z-40">
  <label for="my-drawer" class="drawer-overlay"></label>
  <aside
    class="px-2 pt-2 h-auto min-h-full w-[19rem] bg-base-200 text-base-content flex flex-col"
  >
    <ul class="menu shrink menu-md overflow-y-auto">
      <a
        href={otherLanguagePath}
        aria-label="Switch language"
        class="btn btn-sm btn-outline ml-1"
      >
        <svg
          viewBox="0 0 48 48"
          xmlns="http://www.w3.org/2000/svg"
          fill="currentColor"
          class="w-4 h-4"
          ><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g
            id="SVGRepo_tracerCarrier"
            stroke-linecap="round"
            stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier">
            <path d="M0 0h48v48H0z" fill="none"></path>
            <g id="Shopicon">
              <path
                d="M24,4C12.954,4,4,12.954,4,24s8.954,20,20,20c11.046,0,20-8.954,20-20S35.046,4,24,4z M31.96,22 c-0.208-5.225-1.223-9.846-2.726-13.103c5.649,1.964,9.861,6.998,10.627,13.103H31.96z M24,39.9 c-1.213-0.955-3.608-5.736-3.954-13.9h7.908C27.608,34.164,25.213,38.945,24,39.9z M20.046,22C20.392,13.836,22.787,9.055,24,8.1 c1.213,0.955,3.608,5.736,3.954,13.9H20.046z M18.766,8.897C17.264,12.154,16.248,16.775,16.04,22H8.139 C8.905,15.896,13.117,10.861,18.766,8.897z M16.04,26c0.208,5.225,1.223,9.846,2.726,13.103C13.117,37.139,8.905,32.104,8.139,26 H16.04z M29.234,39.103c1.502-3.257,2.518-7.878,2.726-13.103h7.902C39.095,32.104,34.883,37.139,29.234,39.103z"
              ></path>
            </g>
          </g></svg
        >
        {t("lang.switch")}
      </a>
    </ul>
    <div class="w-fit mx-auto mt-5 mb-6">
      <a href={localizePath("/", lang)}>
        <div
          class="avatar transition ease-in-out hover:scale-[102%] block m-auto flex justify-center"
        >
          <div class="w-[8.5rem]">
            <img
              class="mask mask-circle"
              src="/Images/ProfilePictures/Max profile white background square zoom.png"
              alt="Profile image"
              width="300"
              height="300"
            />
          </div>
        </div>
      </a>
      <div
        class="flex items-center justify-center gap-2 mt-4 text-sm text-base-content/70 pt-2 pb-2 pl-4 pr-4 border border-green-500 rounded-full bg-green-500/20 font-bold text-white"
      >
        <span class="relative flex h-2.5 w-2.5">
          <span
            class="absolute inline-flex h-full w-full animate-ping rounded-full bg-green-500 opacity-75"
          ></span>
          <span
            class="relative inline-flex h-2.5 w-2.5 rounded-full bg-green-500"
          ></span>
        </span>
        {t("status.jobSeeking")}
      </div>
    </div>
    <SideBarMenu sideBarActiveItemID={sideBarActiveItemID} />
    <SideBarFooter />
  </aside>
</div>
