---
import { getLangFromUrl, useTranslations, localizePath } from "../i18n/utils";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);

const { sideBarActiveItemID } = Astro.props;
const activeClass = "bg-base-300"; // For primary color replace with `active` class
---

<ul class="menu grow shrink menu-md overflow-y-auto">
  <li>
    <a class="py-3 text-base" id="home" href={localizePath("/", lang)}
      >{t("nav.home")}</a
    >
  </li>
  <li>
    <a class="py-3 text-base" id="projects" href={localizePath("/projects", lang)}
      >{t("nav.projects")}</a
    >
  </li>
  <li>
    <a class="py-3 text-base" id="cv" href={localizePath("/cv", lang)}
      >{t("nav.cv")}</a
    >
  </li>
  <li>
    <a
      class="py-3 text-base"
      href="mailto:maxvanschoonderwoerd@gmail.com"
      target="_blank"
      referrerpolicy="no-referrer-when-downgrade">{t("nav.contact")}</a
    >
  </li>
</ul>

<script define:vars={{ sideBarActiveItemID: sideBarActiveItemID, activeClass: activeClass }}>
  const activeItemElem = document.getElementById(sideBarActiveItemID);
  if (activeItemElem) activeItemElem.classList.add(activeClass);
</script>
